*{
  font-family: sans-serif;

}
body, html{
  margin: 0;
  padding: 0;
}
h1, h2{
  text-decoration: none;
  text-align: center;
  font-weight: 600;

  display: block;

  margin-left: auto;
  margin-right: auto;
}

h1{
  font-weight: 700;
}

a{

  color: #634de2;
  text-decoration: none;
  background-color: transparent;
}
p{
  margin: 0px 0px;
  font-size: 20px;
  display: block;
  font-family: arial;

}
img{
  max-width: 100%;
  max-height: 100%;
}

li {
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;

  margin-bottom: 5px;
  padding-left: 10px;
  text-align: center;

}

ul{
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.website-margin{
  margin: none;



}
.logo-section{
  /* background-color: lightcoral; */
  display: inline-block;
  
  align-items: center;
  
}
.brand-logo{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.info-about-me{
  margin: 10px 0px 0px 0px;
}

.header-container{
  /* background-color: lightblue; */
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: #ffffff;
  border-bottom: #000000;
  width: 100%;
  justify-content: space-between;
  position: -webkit-sticky; 
  position: sticky;
  top: 0; 
  
  padding: 10px 0px;

  border-bottom: 1px solid #f0f0f5;

  margin-left: auto;
  margin-right: auto;

  width: 100%;
  max-width: 1200px;

  left: 0;

}

.buttons-section{
  /* background-color: lightgoldenrodyellow; */
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content:flex-end;
  column-gap: 10px;
  
  
}
.buttons-style{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  border: none;
  height: 100%;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 10px;


}


.buttons-style:hover {
  color: #000000;
  background-color: lightgray;
  border-radius: 10px;
}

nav ul{
  list-style-type: none;
  padding: 0;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  color:#000000;
  position: relative; 

} 

nav ul li a::after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  background-color: #000000;
  transition: width 0.3s ease;
  height: 2px;

}
nav ul li a:hover::after{
  width: 50%;
}

nav ul li a:focus::after{
  width: 50%;
}




.welcome-slogan{
  /* background-color: lightblue; */
  margin-top: 10px;
  font-size: 35px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  text-align: center;
}

.big-3{
  display: flex;
  justify-content: center;
}

.main-site-container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  row-gap: 10px;
  justify-content: center;

  /* background-color: lightpink; */

  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;


}


.main-site-images{

  height: 516px;
  max-width: 344px;
  width: 100%;
  border-radius: 10px;

}
/* ----------------------About me Start------------------- */

.about-me-container{
  background-color: lightblue;
  display: flex;
  justify-content: center;



}

.about-me-text{
  background-color: lightpink;
  text-align: center;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}

/* ----------------------About me End------------------- */

/* -------------------Supplement Start------------------- */

.current-supplements-container{
  background-color: lightblue;


  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  flex-shrink: 0;



}

.supplement-intro-text{
  background-color: lightgray;
  max-width: 1200px;
  text-align: center;
}

.list-of-supplements{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.unordered-list-supplements{
  list-style-type: none;
  text-align: center;

  padding: 0px;
}




/* ----------------------Supplement End------------------- */


/* ----------------- Researched Supp Start---------------- */

.selected-supplement-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;


}

.selected-supplement-text{
  max-width: 1200px;
  text-align: left;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
}

.researched-sup-image{
  height: 300px;
  width: 300px;
  border-radius: 25px;
}

.additional-info-container{
  background-color: rgb(243, 242, 242);
  border: 1px solid black;
  border-radius: 5px;

  width: 400px;
  height: 150px;

  text-align: center;

}

.pros-cons-myths-container{
  margin-top: 20px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;


}

.supplement-breakdown-text{
  text-align: center;
  justify-content: center;
  
  
}

.common-questions-container{

  justify-content: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;


}

.question-header{
  text-align: left;
}




/* -------------------Researched Supp End--------------- */




/* ---------------------- Media ------------------- */

@media (max-width: 1200px){
  h2,.supplement-intro-text,.about-me-text,.selected-supplement-text{
    max-width: 1000px;
  }

}

@media (max-width: 1010px){
  h2,.supplement-intro-text,.about-me-text,.selected-supplement-text{    max-width: 800px;
  }
}

@media (max-width: 800px){
  h2,.supplement-intro-text,.about-me-text,.selected-supplement-text{
    max-width: 600px;
  }
}

@media (max-width: 610px){
  h2,.supplement-intro-text,.about-me-text,.selected-supplement-text{
    max-width: 400px;
  }
}